extends index.pug

block site_content
  if is_archive()
    //- for each post page
    if page.year || page.month
      .
        !{list_posts()}
    else
      .
        !{list_archives()}
block site_widgets
  include _partial/widgets.pug
