if is_post()
  section#article-toc.widget(role='navigation')
    h3.widget-title
      | #{__('widget.toc')}
    ul.widget-list
      -
        let _toc = null;
        if (page.encrypt == true) {
          _toc = toc(page.origin);
        } else {
          _toc = toc(page.content);
        }
      if _toc
        | !{_toc}
      else
        | #{__('widget.empty')}
