| &copy; #{moment(Date.now()).year()}
|
a(href=url_for()) #{config.title}
|.
|
| Powered by
|
a(href="https://hexo.io/") Hexo
| .
br
| Documentation licensed under
|
a(href="http://creativecommons.org/licenses/by/4.0/" target="_blank") CC BY 4.0
| .
